<div class="container-fluid">
    <div class="page-header cabecera">
	    <h1>Detalle de {{crtlGeneral.tipo}} </h1>
	</div>

	<div class="divDetallePoi center">
		<h3 class="h3"><span class="label label-info"> Nombre:</span> {{crtlGeneral.id}}</h3>
    <h3 class="h3"><span class="label label-info"> Nombre:</span> {{crtlGeneral.poiEncontrado.nombre}}</h3>
		<h3 class="h3"><span class="label label-info"> Direcci&oacute;n:</span> {{crtlGeneral.poiEncontrado.direccionNombre}}</h3>		
		<div ui-view></div>
	</div>

	<div class="container">
  		<div class="row">
    		<div class="col-sm-2">
     			 <h3>Tu opinion:</h3>
   			 </div>
   		<div class="col-sm-8">
      		<div class="form-group">
    		  <textarea class="form-control" 
                    rows="5" id="comment" 
                    placeholder="Comentario" 
                    ng-model="crtlGeneral.comentario"></textarea>
       				</div>
    	</div>
   		<div class="col-sm-2">
   			<p></p>
      		<select class="form-control" ng-model="crtlGeneral.valoracion">
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				  </select>
					<p></p>
  			<button type="button" class="btn btn-success" ng-click="crtlGeneral.enviarComentario()">Enviar</button>
    	</div>
  	</div>

  	<h3 class="h3"><span class="label label-info">Opiniones: </span></h3>

  		<form>
              <table class="table table-striped" >
                  <tr>
                    <th>Usuario</th>
                    <th>Comentario</th>
                    <th>Calificacion</th>
                  </tr>
                  <tr ng-repeat="review in crtlGeneral.reviews">
                    <td>{{review.nombre}}</td>
                    <td>{{review.comentario}}</td>
                    <td>{{review.calificacion}}</td>
                  </tr>
              </table>
          </form>
	</div>
</div>
