<!DOCTYPE html>
<html lang="es" ng-app="PuntosDeInteresApp">

<head>
  <title>Busqueda de puntos de interes</title>


    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

</head>

    <body ng-controller="controllerBusqueda as busquedaCtrl">

      <div class="container-fluid">
          <h3 class="h3">Criterio de b&uacute;squeda</h3>

          <form>
              <div>
                  <label>Ingrese una palabra clave como criterio de búqueda</label>
              </div>
              <div class="input-group">
                  <div class="input-group-btn col-md-4q">

                      <input type="text" class="form-control"
                             id="palabraClave1"
                             name="palabraClave"
                             placeholder="Palabra clave"
                             ng-model="busquedaCtrl.palabraClave"
                      >

                      <input type="button" class="btn btn-primary"
                             id="agregarPalabra"
                             ng-click="busquedaCtrl.agregarPalabraClave()"
                      >
                  </div>
              </div>

              <div>
                  <ul>
                      <li>
                          <p align="center">Palabras clave seleccionadas</p>
                      </li>
                      <li ng-repeat="pk in busquedaCtrl.listaPalabrasClave">
                          <p>{{pk}}</p>
                      </li>
                  </ul>
              </div>

              <input type="button" id="buscarPois" value="Buscar">
              <div>

          </form>



            <h3 class="h3">Resultado</h3><br>

          <table class="table table-striped">
              <tr>
                <th>Nombre</th>
                <th>Direccion</th>
              </tr>
              <tr>
                <td>Victoria Impala</td>
                <td>Fco. de Beiro 4801</td>
              </tr>
              <tr>
                <td>jPerez Cotillon</td>
                <td>Av. Alvarez Jonte 5232 1º</td>
              </tr>
                  <tr>
                <td>CGP 6</td>
                <td>Patricias Argentinas 277</td>
              </tr>
          </table>
        </div>
            <input type="button" id="visualizarPoi" value="Ver">

      </div>


      <!-- nuestro jscript -->
      <script src="js/app.js"></script>

    </body>
</html>
  