<div class="container-fluid">

      <span> {{crtlGeneral.nombre1}}</span>

        <table class="table table-striped" >
                  <tr>
                    <th>Servicio que presta</th>
                    <th>Horario de atencion</th>
                  </tr>
                  <tr ng-repeat="poiEncontrado in busquedaCtrl.resultadoBusqueda">
                    <td>{{crtlGeneral.servicios}}</td>
                    <td>{{poiEncontrado.direccion}}</td>

                  </tr>
</table>
     
</div>