<div>
      <h4>Detalle Sucursal Banco</h4>
      <p> Hola </p>
      <span> {{crtlBanco.nombre}}</span>
      <p>{{crtlBanco.direccion}}</p>
    <div>
                  <ul>
                      <li>
                          <span class="mrgn" align = "center" >Servicios que presta</span>
                      </li>

                      <li ng-repeat="servi in crtlBanco.listaServicios">
                          <p>{{servi}}</p>
                      </li>
                  </ul>
      </div>
</div>