    <div class="page-header cabecera">
	    <h1>Criterio de b&uacute;squeda</h1>
    </div>

      <div class="container-fluid">
          <h3 class="h3"></h3>

          <form>
              <div>
                  <label>Ingrese una palabra clave como criterio de b&uacute;squeda</label>
              </div>

              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Palabra clave" aria-describedby="basic-addon2" ng-model="busquedaCtrl.palabraClave">

                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="busquedaCtrl.agregarPalabraClave()">Agregar</button>
                  </span>
              </div>

              <div>
                  <table class="table table-striped">
                      <tr>
                          <th align="center">Palabras clave seleccionadas</th>
                          <th>Acciones</th>
                      </tr>
                      <tr ng-repeat="pk in busquedaCtrl.listaPalabrasClave">
                          <td>{{pk}}</td>
                          <td>
                              <button
                                  type="button"
                                  class="glyphicon glyphicon-remove"
                                  aria-hidden="true"
                              >
                              </button>
                          </td>
                      </tr>
                  </table>
              </div>

              <div class="btn-group">
                  <input
                          type="button"
                          class="btn btn-primary"
                          id="buscarPois"
                          value="Buscar"
                          ng-click="busquedaCtrl.buscarPuntoDeInteres()"
                  >
                  <input
                          type="button"
                          class="btn btn-danger"
                          id="limpiarBusqueda"
                          value="Limpiar"
                          ng-click="busquedaCtrl.limpiarBusqueda()"
                  >
              </div>
          </form>



          <h3 class="h3">Resultado</h3><br>
          <form>
              <table class="table table-striped" >
                  <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                  </tr>
                  <tr ng-repeat="poiEncontrado in busquedaCtrl.resultadoBusqueda">
                    <td>{{poiEncontrado.nombre}}</td>
                    <td>{{poiEncontrado.direccion}}</td>
                    <td>

                        <button 
                                type="button" 
                                class="glyphicon glyphicon-eye-open"
                                aria-hidden="true" 
                                ui-sref = "detallePOI({POID: poiEncontrado.id})"> 
                        </button>

                        <button type="button"  class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></button>

                    </td>

                  </tr>
              </table>
          </form>
      </div>
